[Unit]
Description=Floki RTP Relay
After=multi-user.target

[Service]
Type=idle
ExecStartPre=echo 1 > /proc/sys/net/ipv4/ip_forward
ExecStart=python3 /usr/local/bin/floki.py
Restart=always

[Install]
WantedBy=multi-user.target